.div1{
    height:500px;
    padding-block-end: 217px;
    border-bottom: 5px solid brown;
}
.div-nav{
    background-image: url(./145536868.png);
    background-position:center ;
    background-size:contain ;
    background-repeat: no-repeat;
}
.Federico::before{
    content: '';
    position: absolute;
    border-radius: 49%;
    height: 242px;
    width: 242px;
    top: 378px;
    left: 62px;
    border-color:5px solid brown;
    background-image: url(./145536868.png);
    background-position:center ;
    background-size:contain ;
    background-repeat: no-repeat;
}
.sec-1{
    height: 200px;
}
h1{
    height: 500px;
    background-image: url(./145536868.png);
    background-position:center ;
    background-size:contain ;
    background-repeat: no-repeat;
    transition: 1.5s;
    animation-name: donslow;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;

    
}
@keyframes donslow{
    from{transform: translatex(0px);}
    to{transform: translatex(250px) ;}
}
header{
    height: 750px;
    background-image: url(./145536868.png);
    background-position:center ;
    background-size:contain ;
    background-repeat: no-repeat;
    transition: 1.5s;
    animation-name: donslide;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
}
@keyframes donslide{
    from{transform: translatex(0px);}
    to{transform: translatex(-250px) ;}
}
.sec-2{
    height: 250px;
}
footer{
    height: 750px;
    
}
.div-foo{
    background-color: brown;
    height: 550px;
    width: 15px; 
    margin-inline-start: 737px;
    position: absolute;
}
.div-footer{
    background-color: brown;
    height: 15px;
    width: 550px;
    position: absolute;
}
.Federicoo::after{
    content: '';
    position: absolute;
    border-radius: 49%;
    height: 242px;
    width: 242px;
    top: -121px;
    left: 550px;
    border-color:5px solid brown;
    background-image: url(./145536868.png);
    background-position:center ;
    background-size:contain ;
    background-repeat: no-repeat;
    animation-name: sinistra;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-timing-function: ease;
    }
    @keyframes sinistra{
        from{transform: translatex(0px);}
        to{transform: translatex(-671px) ;}
    }
.Federicoo::before{
content: '';
position: absolute;
border-radius: 49%;
height: 242px;
width: 242px;
top: 550px;
left: -121px;
border-color:5px solid brown;
background-image: url(./145536868.png);
background-position:center ;
background-size:contain ;
background-repeat: no-repeat;
animation-name: su;
animation-iteration-count: infinite;
animation-duration: 2s;
animation-timing-function: ease;
}
@keyframes su{
    from{transform: translatey(0px);}
    to{transform: translatey(-671px) ;}
}